<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.smartregister.bidan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.BidanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/BidanAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />

        <!--<activity-->
            <!--android:name=".activity.BidanHomeActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="landscape"-->
            <!--android:theme="@style/AppThemeNoActionBarAndTitle" />-->

        <activity android:name=".activity.BidanHomeActivity"
            android:theme="@style/AppBidanTheme"
            android:screenOrientation="landscape"/>

        <activity android:name=".activity.KMotherSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.KFPSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.KANCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.KPNCSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.KChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppThemeNoActionBarAndTitle"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="landscape"/>


    </application>

</manifest>
