<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.smartregister.bidan">

    <application
        android:name=".application.BidanApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/BidanAppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChildSmartRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBarAndTitle" />

    </application>

</manifest>
